# Virtual Environments
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Large Training Artifacts
results/logs/
results/models/
results/
*.csv

# Images
*.png

# Test & Debug Files
notebooks/crash_test.ipynb
overseer_cleanup/test_env.py
overseer_cleanup/test_grid_manual.py

# Local Temp Files
.zip/
*.tmp
.gitignore